# Python
backend/venv/
__pycache__/
*.pyc

# Environment
.env
backend/.env
frontend/.env

# Node
frontend/node_modules/

# Build
frontend/dist/

# Uploads
backend/uploads/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db